@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf)
}

@import 'variables';

html {
  font-size: $root-font-size;
  font-family: $font-family;
  max-width: $page-width;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: $paragraph-font-size;
}

#modal {
  position: relative;
  float: left;
  margin: 30px;
  display: none;
  border: solid #cecece 1px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

ol {
	padding-left: 2rem;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
}

a {
	font-weight: bold;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
	margin-left: 2px;
	margin-right: 2px;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 8px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-header img {
	height: 80px;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 10px 10px 60px;
	// overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.chat-messages {
	flex-grow: 1;
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message.user-joined{
	background-color: rgba(0, 0, 0, 0);
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.instructions {
    width: 100%;
    background-color: #7cf;
    padding: 0.5rem;
    text-align: left;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container div {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

#chat-form{
	overflow: auto;
}

#chat-form input {
	margin: 0 2px;
	border: 1px solid white;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#logo{
	width: 14rem;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-container{
		margin: 10px auto;
	}

	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}

	.chat-form-container{
		padding: 4px 2px;
		font-size: 14px;
	}

	.btn.shrink-on-mobile{
		font-size: 12px;
		padding: 0px 0.5rem;
	}

	.chat-header img {
		height: 50px;
	}
}

.hidden{
  display: none;
}

// .collapsible {
// 	background-color: var(--dark-color-b);
// 	color: var(--dark-color-a);
// 	cursor: pointer;
// 	padding: 18px;
// 	width: 100%;
// 	border: none;
// 	text-align: left;
// 	outline: none;
// 	// font-size: 15px;
//   }

//   .active, .collapsible:hover {
// 	background-color: var(--light-color);
//   }

//   .collapsible-content {
// 	padding: 10px 10px;
// 	display: True;
// 	overflow: hidden;
// 	background-color: var(--dark-color-b);
// 	color: var(--light-color);
// 	text-align: left;
//   }

.collapsible-content {
	text-align: left;
	background: var(--light-color);
	overflow-y: hidden;

//	max-height: 500px;
//	transition-property: all;
//	transition-duration: 5s;
//	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	margin: 6px;
	margin-bottom: 0px;
	border: 1px solid #D2D7F9;
	padding: 10px;
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	animation-name: animatedisplay;
	animation-duration: 0.7s
}

@keyframes animatedisplay {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

#collapse-instructions-btn {
	float: right;
	font-size: small;
	background: None
}

.used {
	color: gray;
}